
<form class="example-form" >
    <mat-form-field class="example-full-width" appearance="fill">
      <span>Input:</span><input type="text"
             placeholder="Pick one"
             aria-label="Number"
             matInput
             [formControl]="productFormControl"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>

  <div></div>





<!-- <p-table  dataKey="id" [showCurrentPageReport]="true" [scrollable]="true" scrollHeight="800px" sortMode="multiple" [value]="launchMaturity"  (onLazyLoad)="loadCustomers($event)"  (sortFunction)="customSort($event)" responsiveLayout="scroll" dataKey="id"
     rowGroupMode="rowspan" groupRowsBy="launchMaturity.dateOfRelease"  sortField="launchMaturity.dateOfRelease" [frozenValue]="lockedlaunchDimension"  
    [paginator]="true"   [rows]="10"  [loading]="loading" [globalFilterFields]="['date','ldId','projectNo',  'maturityOrderNo','category','amount','metricType']">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="date"  >Date <p-sortIcon field="date"></p-sortIcon></th>
            <th pSortableColumn="ldId">ldId <p-sortIcon field="ldId"></p-sortIcon></th>
            <th pSortableColumn="projectNo">projectNo <p-sortIcon field="projectNo"></p-sortIcon></th>
            <th pSortableColumn="maturityOrderNo">maturityOrderNo <p-sortIcon field="maturityOrderNo"></p-sortIcon></th>
            <th pSortableColumn="category">category <p-sortIcon field="category"></p-sortIcon></th>
            <th pSortableColumn="amount">amount <p-sortIcon field="amount"></p-sortIcon></th>
            <th pSortableColumn="metricType">metricType <p-sortIcon field="metricType"></p-sortIcon></th>

        </tr>
        <tr>
            <th>
                <p-columnFilter type="text" field="date"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="ldId"></p-columnFilter>
            </th>

            <th>
                <p-columnFilter type="text" field="projectNo"></p-columnFilter>
            </th>
          
            <th>
                <p-columnFilter type="text" field="maturityOrderNo"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="category"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="amount"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="metricType"></p-columnFilter>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="frozenbody" let-customer let-index="rowIndex" let-rowIndex="rowIndex" let-rowgroup="rowgroup"
    let-rowspan="rowspan">
        <tr>
            
            <td>{{customer.dateOfRelease }}</td>
            <td>{{customer.ldId }}</td>
            <td>{{customer.projectNo}}</td>
            <td>{{customer.maturityOrderNo}}</td>
            <td>{{customer.category}}</td>
            <td>{{customer.amount}}</td>
            <td>{{customer.metricType | metricType}}</td>
            <td style="flex: 0 0">
                <button pButton pRipple type="button" [icon]="'pi pi-lock-open'" (click)="toggleLock(customer,true,index)" class="p-button-sm p-button-text"></button>
            </td>
            
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-customer let-index="rowIndex" let-rowIndex="rowIndex" let-rowgroup="rowgroup"
    let-rowspan="rowspan">
        <tr>
          
            <td>{{customer.dateOfRelease }}</td>
            <td>{{customer.ldId }}</td>
            <td>{{customer.projectNo}}</td>
            <td>{{customer.maturityOrderNo}}</td>
            <td>{{customer.category}}</td>
            <td>{{customer.amount}}</td>
            <td>{{customer.metricType | metricType}}</td>
            <td style="flex: 0 0 ">
                <button pButton pRipple type="button" [icon]="'pi pi-lock'" [disabled]="lockedlaunchDimension.length >= 3" (click)="toggleLock(customer,false,index)" class="p-button-sm p-button-text"></button>
            </td>


        </tr>
    </ng-template>
</p-table> -->