/* .sticky-table {

    &.ui-table .ui-table-thead > tr > th {
      position: -webkit-sticky;
      position: sticky !important;
      background: blue;
      color: white;
      top: 0px;
      z-index: 1;
    }

   &.ui-table-resizable > .ui-table-wrapper {
      overflow-x: initial !important;
    }

    &.ui-table-resizable .ui-resizable-column {
      position: sticky !important;
    }

    @media screen and (max-width: 64em) {
      .ui-table .ui-table-thead > tr > th {
        top: 0px;
      }
    }

} */
 
  
     .p-component .myStyleClass ::ng-deep{
      background-color: blue !important;
     }
     /* .p-datatable .p-datatable-header .ui-state-active ::ng-deep{
       color: blueviolet !important;
     }
     p-table .myStyleClass ::ng-deep{
       background-color: aquamarine;
       color: brown;

     } */
    
  
  
