<!-- SEARCH BOX / AUTOCOMPLETE -->

<div style="margin-bottom: 20px">
  <p-autoComplete
    [dropdown]="true"
    [(ngModel)]="search"
    [suggestions]="results"
    (completeMethod)="searchProduct($event)"
  ></p-autoComplete>
</div>

<p-table
  [globalFilterFields]="['value', 'metricType']"
  [responsive]="true"
  responsiveLayout="stack"
  (onFilter)="handleFilter($event)"
  styleClass="p-datatable-gridlines"
  style="font-size: 8px"
  editMode="row"
  #dt
  [exportHeader]="'customExportHeader'"
  [(selection)]="selectedProducts"
  rowGroupMode="rowspan"
  groupRowsBy="dateOfRelease"
  sortField="dateOfRelease"
  dataKey="id"
  [columns]="cols"
  [showCurrentPageReport]="true"
  sortMode="multiple"
  [value]="formatData"
  (sortFunction)="customSort($event)"
  [rows]="10"
  (selectionChange)="onSelectionChange($event)"
  [loading]="loading"
>
  <ng-template pTemplate="caption">
    <div class="flex" style="padding: 2px">
      <button
        type="button"
        pButton
        pRipple
        icon="pi pi-file"
        (click)="dt.exportCSV()"
        style="margin-right: 5px"
        pTooltip="CSV"
        tooltipPosition="bottom"
      ></button>
      <button
        type="button"
        pButton
        pRipple
        icon="pi pi-file-excel"
        (click)="exportExcel()"
        class="p-button-success mr-2"
        pTooltip="XLS"
        tooltipPosition="bottom"
      ></button>
      <input
        pInputText
        type="text"
        (input)="
          dt.filter($any($event.target).value, 'filterDataWire', 'contains')
        "
        (onChange)="onwireVersionChange($event)"
        placeholder="Global Search"
      />
    </div>
  </ng-template>

  <ng-template pTemplate="header" let-customerData>
    <tr>
      <!-- <th style="width: 3rem">
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th> -->
      <th>
        <p-columnFilter
          matchMode="contains"
          type="text"
          field="date"
        ></p-columnFilter>
      </th>
      <th>
        <p-columnFilter
          matchMode="contains"
          type="text"
          field="plannedValue"
        ></p-columnFilter>
      </th>
      <th>
        <p-columnFilter
          matchMode="contains"
          type="text"
          field="actualValue"
        ></p-columnFilter>
      </th>
      <th>
        <p-columnFilter
          matchMode="contains"
          type="text"
          field="id"
        ></p-columnFilter>
      </th>
      <th>
        <p-columnFilter
          matchMode="contains"
          type="text"
          field="sDText"
        ></p-columnFilter>
      </th>

      <th>
        <p-columnFilter
          matchMode="contains"
          type="text"
          field="projectNumber"
        ></p-columnFilter>
      </th>

      <th>
        <p-columnFilter
          matchMode="contains"
          type="text"
          field="version"
        ></p-columnFilter>
      </th>
      <th>
        <p-columnFilter
          matchMode="contains"
          type="text"
          field="softwareDimensionId"
        ></p-columnFilter>
      </th>
     

      <th></th>
    </tr>

    <tr>
      <!-- <th style="width: 3rem"></th> -->

      <th pResizableColumn pSortableColumn="date">
        Date <p-sortIcon field="date"></p-sortIcon>
      </th>
      <th pResizableColumn pSortableColumn="plannedValue">
        plannedValue <p-sortIcon field="plannedValue"></p-sortIcon>
      </th>
      <th pResizableColumn pSortableColumn="actualValue">
        Actual Value <p-sortIcon field="actualValue"></p-sortIcon>
      </th>
      <th pResizableColumn pSortableColumn="id">
        Id <p-sortIcon field="id"></p-sortIcon>
      </th>
      <th pResizableColumn pSortableColumn="sDText">
        sDText <p-sortIcon field="sDText"></p-sortIcon>
      </th>
      <th pResizableColumn pSortableColumn="projectNumber">
        project Number <p-sortIcon field="projectNumber"></p-sortIcon>
      </th>
      <th pResizableColumn pSortableColumn="version">
        Version <p-sortIcon field="version"></p-sortIcon>
      </th>
      <th pResizableColumn pSortableColumn="softwareDimensionId">
        Software Dimension <p-sortIcon field="softwareDimensionId"></p-sortIcon>
      </th>
  

      <th pResizableColumn></th>
    </tr>
  </ng-template>

  <ng-template
    let-rowData
    let-columns="columns"
    pTemplate="body"
    let-editing="editing"
    let-ri="rowIndex"
    let-customer
    let-rowgroup="rowgroup"
    let-rowspan="rowspan"
  >
    <tr [pEditableRow]="customer">
      <!-- <td>
        <p-tableCheckbox [value]="customer"></p-tableCheckbox>
      </td> -->

      <td  *ngIf="!editing; else elseBlock">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input type="text" pInputText [(ngModel)]="customer.date" />
          </ng-template>
          <ng-template pTemplate="output">
            {{ customer.date }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input type="text" pInputText [(ngModel)]="customer.plannedValue" />
          </ng-template>
          <ng-template pTemplate="output">
            {{ customer.plannedValue }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input type="text" pInputText [(ngModel)]="customer.actualValue" />
          </ng-template>
          <ng-template pTemplate="output">
            {{ customer.actualValue }}
          </ng-template>
        </p-cellEditor>
      </td>
      
        <ng-template #elseBlock >
         
            
          
        </ng-template>
      

      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input type="text" pInputText [(ngModel)]="customer.id" />
          </ng-template>
          <ng-template pTemplate="output">
            {{ customer.id }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input type="text" pInputText [(ngModel)]="customer.sDText" />
          </ng-template>
          <ng-template pTemplate="output">
            {{ customer.sDText }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input
              type="text"
              pInputText
              [(ngModel)]="customer.projectNumber"
            />
          </ng-template>
          <ng-template pTemplate="output">
            {{ customer.projectNumber }}
          </ng-template>
        </p-cellEditor>
      </td>

      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input type="text" pInputText [(ngModel)]="customer.version" />
          </ng-template>
          <ng-template pTemplate="output">
            {{ customer.version }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input
              type="text"
              pInputText
              [(ngModel)]="customer.softwareDimensionId"
            />
          </ng-template>
          <ng-template pTemplate="output">
            {{ customer.softwareDimensionId }}
          </ng-template>
        </p-cellEditor>
      </td>
      

      <td
        style="text-align: center"
        *ngIf="formatData && ri === formatData.length - 1"
      >
        <button
          *ngIf="!editing"
          pButton
          pRipple
          type="button"
          pInitEditableRow
          icon="pi pi-pencil"
          (click)="onRowEditInit(customer)"
          class="p-button-rounded p-button-text"
        ></button>
        <button
          *ngIf="editing"
          pButton
          pRipple
          type="button"
          pSaveEditableRow
          icon="pi pi-check"
          (click)="onRowEditSave(customer)"
          class="p-button-rounded p-button-text p-button-success mr-2"
        ></button>
        <button
          *ngIf="editing"
          pButton
          pRipple
          type="button"
          pCancelEditableRow
          icon="pi pi-times"
          class="p-button-rounded p-button-text p-button-danger"
        ></button>
      </td>
    </tr>

    <tr *ngIf="addMode && ri === formatData.length - 1 ">
      <td rowspan="2">
        <p-calendar
        appendTo="body"
        inputId="basic"
        [(ngModel)]="newAttribute.date"
      ></p-calendar>
      </td>
      <td class="pl-0">Plan</td>
      <td >
        <input
        class="form-control"
        type="text"
        pInputText
        required
        id="newAttributeplannedValue"
        [(ngModel)]="newAttribute.plannedValue"
        name="newAttributeplannedValue"
      />
      </td>
      <td >
        <input
          class="form-control"
          type="text"
          pInputText
          required
          value="id"
          id="newAttributeid"
          [(ngModel)]="newAttribute.id"
          name="newAttributeid"
        />
      </td>
      <td>
        <input
          class="form-control"
          type="text"
          pInputText
          required
          id="newAttributesDText"
          [(ngModel)]="newAttribute.sDText"
          name="newAttributesDText"
        />
      </td>
      <td>
        <input
          class="form-control"
          type="text"
          pInputText
          required
          id="newAttributeprojectNumber"
          [(ngModel)]="newAttribute.projectNumber"
          name="newAttributeprojectNumber"
        />
      </td>
      <td>
        <input
          class="form-control"
          type="text"
          pInputText
          required
          id="newAttributeversion"
          [(ngModel)]="newAttribute.version"
          name="newAttributeversion"
        />
      </td>
      <td>
        <input
          class="form-control"
          type="text"
          pInputText
          required
          id="newAttributeplannedValue"
          [(ngModel)]="newAttribute.softwareDimensionId"
          name="newAttributeplannedValue"
        />
      </td>
    </tr>

    <tr *ngIf="addMode && ri === formatData.length - 1 ">
      <td class="pl-0">Actual</td>
      <td>
        <input
          class="form-control"
          type="text"
          pInputText
          required
          id="newAttributeactualValue"
          [(ngModel)]="newAttribute.actualValue"
          name="newAttributeactualValue"
        />
      </td>
      <td >
        <input
          class="form-control"
          type="text"
          pInputText
          required
          value="id"
          id="newAttributeid"
          [(ngModel)]="newAttribute.id"
          name="newAttributeid"
        />
      </td>
      <td>
        <input
          class="form-control"
          type="text"
          pInputText
          required
          id="newAttributesDText"
          [(ngModel)]="newAttribute.sDText"
          name="newAttributesDText"
        />
      </td>
      <td>
        <input
          class="form-control"
          type="text"
          pInputText
          required
          id="newAttributeprojectNumber"
          [(ngModel)]="newAttribute.projectNumber"
          name="newAttributeprojectNumber"
        />
      </td>
      <td>
        <input
          class="form-control"
          type="text"
          pInputText
          required
          id="newAttributeversion"
          [(ngModel)]="newAttribute.version"
          name="newAttributeversion"
        />
      </td>

      <td>
        <input
          class="form-control"
          type="text"
          pInputText
          required
          id="newAttributesoftwareDimensionId"
          [(ngModel)]="newAttribute.softwareDimensionId"
          name="newAttributesoftwareDimensionId"
        />
      </td>
      <td>
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-check"
          (click)="onRowAddSave(newAttribute);"
          class="p-button-rounded p-button-text p-button-success mr-2"
        ></button>
        <button
          pRipple
          pButton
          type="button"
          (click)="onRowCancelSave()"
          icon="pi pi-times"
          class="p-button-rounded p-button-text p-button-danger mr-2"
        ></button>
      </td>
      
    </tr>

   
  </ng-template>
</p-table>
<button
  pButton
  type="button"
  icon="pi pi-plus"
  class="ui-button-info"
  [label]="'Add'"
  (click)="triggerAdd()"
></button>
